# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GGJ2021-HorrorGame.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\GGJ2021\GGJ2021-HorrorGame\.idea\.idea.GGJ2021-HorrorGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
